<div class="collapse navbar-collapse navbar-ex1-collapse">
    <div class="col-sm-6 col-md-6">
        <form class="navbar-form" role="search" method="get" id="search-form" name="search-form">
            <div class="input-group">
                <input type="text" ng-model="query"  class="form-control" placeholder="Search">
                <div class="input-group-btn">
                    <button ng-click="reset()" ng-disabled="!query"  type="submit" class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>
                    <button ng-click="query=''; reset()" type="submit" class="btn btn-warning">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>


    <table class="table table-striped table-condensed table-hover">
        <thead>
        <th sorted="Text">Todo</th>
        <th sorted="Priority">Priority</th>
        <th sorted="DueDate">Due</th>
        <th><a href="#/new"><i class="glyphicon glyphicon-plus" style="color: lightgreen;"></i></a></th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items" id="todo_{{item.Id}}">
                <td>{{item.Text}}</td>
                <td>{{item.Priority}}</td>
                <td>{{item.DueDate | date: mediumDate}}</td>
                <td>
                    <a href="#/edit/{{item.Id}}"><i class="glyphicon glyphicon-edit" style="color: goldenrod;" /></a>
                    <a ng-click="delete()"><i class="glyphicon glyphicon-remove" style="color: red;" /></a>                    
                </td>
            </tr>
        </tbody>
    </table>

<a href="" ng-click="offset = offset + limit; search()"
   ng-show="show_more()">Show more</a>
