<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="AngularTodoListContext"
         connectionString="Server=92a72b3d-5ab3-494f-bf10-a48e00d4b71d.sqlserver.sequelizer.com;Database=db92a72b3d5ab3494fbf10a48e00d4b71d;User ID=nyakibwvumrohbsg;Password=PBxDqGTdEWiMKUJ5rJcC5j5HqhxhJSHL6CFEmoL7o62E3opb4TqQaosDEXnijKBV;" />
  </connectionStrings>
</configuration>