<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="AngularTodoListContext"
         connectionString="Server=fbdb486f-2249-43bd-bdca-a48e00e9d0cd.sqlserver.sequelizer.com;Database=dbfbdb486f224943bdbdcaa48e00e9d0cd;User ID=ahltbkeyboiscomd;Password=RVCDMzR7CdUKq3nasvMCTmHqfsbMo22B42yUuGgHGCq8KHQjuuyR4axDmnxtxdRJ;" />
  </connectionStrings>
</configuration>